/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  font-family: 'Inter', sans-serif;
}

#banner1,
 .section-a,
 .party-2024,
 .schedule,
 #best-offer,
 #holiday-sale,
 #portfolio,
 #newsletter {
  width: 100%;
  height: auto;
  margin: 50px 120px 120px 120px;
  justify-content: center;
  align-items: center;
}

/* Header Section (banner1) */
.container-1 {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner-Image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner1-text {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner1-text h4 {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.banner1-text h2 {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

/* Section-a */
.off-offer {
  width: 1320px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-1 h1 {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 0;
}

.category-1 h5 {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 5px;
}

.category-1 h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.new-year-img {
  background-image: url(../images/New\ Year\ Photo.png);
  width: 800px;
  height: 500px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 120px;
}

/* Container-2 (Party 2024  Section) */
.container-2 {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
}

.container-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.container-2 > div {
  width: 50%;
  height: auto;
  padding-left: 80px;
}

.banner2-text h3 {
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: .03px;
  margin-bottom: 30px;
}

.banner2-text p {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

.btn-join {
  color: #FFF;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px;
  cursor: pointer;
}

/* Section-3  (Schedule Section) */
.schedule-place {
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  background-size: cover;
  width: 1320px;
  height: 480px;
  border-radius: 16px;
}

.container-3 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.container-3 p {
  justify-content: center;
  text-align: center;
  padding: 110px 385px 50px 385px;
}

.clr-red {
  color:#F00;
}

.btn-primary {
  place-items: center;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  background-color: #f00;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: rgb(240, 12, 4);
}

/* Section-4 (Best Offer Section)*/
#best-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-4 {
  max-width: 1320px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.container-4 > div {
  width: 440px;
  height: auto;
  padding-right: 20px;
}

.new-best-offer h5 {
  color: #F00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.new-best-offer h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.new-best-offer p,
.happy-ny-icon p {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.circle-img img {
  width: 365px;
  height: 365px;
  border-radius: 50%;
  padding: 15px;
  border: 8px solid #f00;
}

.happy-ny-icon h3 {
  color: #F00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}

.happy-ny-icon img {
  width: 150px;
  height: 150px;
}

/* Section-5 (Holiday Sale Section) */
.container-5 {
  width: 1320px;
}

.function {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  padding: 0 200px;
}

.function h5 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.function h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 30px;
}

.function p {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;

}

.gift-box-container {
  display: flex;
  gap: 93px;
}

.token-lady {
  display: flex;
  position: relative;
}

.discount-token {
  position: absolute;
  right: 280px;
  bottom: 300px
}

.discount-container {
  position: relative;
}

.red-bg {
  top: 500px;
  z-index: 1;
  margin-top: -235px
}

.gift-box {
  z-index: 2;
}

 /* Portfolio Section */
 .portfolio-container {
  width: 1320px;
 }

 .portfolio-header {
  width: 910px;
 }
 
 .portfolio-header h5 {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
 }

 .portfolio-header h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
 }

 .portfolio-header p {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
 }

 .img-section1,
 .img-section2 {
  display: flex;
  gap: 20px;
  width: 425px;
  height: 450px;
  justify-content: space-between;
  align-items: center;
 }

 .img-section1 {
  margin-bottom: 20px;
 }

 /* Newsletter Section */
 .newsletter-box {
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  position: relative;
 }
 
 .newsletter-box {
  padding: 80px 290px;
  justify-content: center;
  text-align: center;
  align-items: center;
 }

 .envelop-icon img {
  justify-content: center;
  align-items: center;
 }

 .subscription-form,
 .subscribe-btn {
  margin: 30px auto;
 }

 .subscription-form h3 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
 }

 .subscription-form p {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
 }

 .subscribe-btn .email {
  height: 50%;
  position: relative;
 }

 .subscribe-btn .email input {
  width: 550px;
  height: 100%;
  padding-left: 50px;
  font-size: 18px;
  outline: none;
  border-radius: 50px 0px 0px 50px;
  border: 1px solid #f00;
}

 .subscribe-btn input {
  display: flex;
  color: rgba(7, 2, 17, 0.30);
  text-align: left;
  padding: 30px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
 }

 .subscribe {
  width: 210px;
  height: 100%;
  border-radius: 0px 50px 50px 0px;
  background: #F00;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
}

.subscribe-btn .email button {
  position: absolute;
  top: 50%;
  transform: translate(70%, -50%);
}

/* Footer Section */
#footer-section {
  background: #070211;
  color:#FFF;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
}

.footer-container {
  padding: 100px 150px;

}

.address, 
.copy-right  {
  display: flex;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  justify-content: space-around;
  align-items: center;
}

.address {
  padding-bottom: 50px;
}

.copy-right {
  padding-top: 50px;
}

.social-icon ul li {
  list-style-type: none;
}

.social-icon ul {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 40px 0px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 50px;
  height: auto;
}